/* font */

.raleway {
  font-family: "Raleway", "sans-serif";
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", "sans-serif";
  font-optical-sizing: auto;
  font-style: normal;
}

/* removing defual styles */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f8ff;
}

section {
  margin-bottom: 137px;
}

/* shared styles */

.primary-color {
  color: #4E47FF;
}

.primary-btn {
  background-color: #4E47FF;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  padding: 12px 36px;
  cursor: pointer;
  transition: all 0.5s linear;
}

.primary-btn:hover {
  background-color: rgb(200, 200, 32);
  color: black;
  transform: scale(1.1);
}

/* banner section */

header {
  background-image: url('../Assets/Hero-bg.png');
  margin-bottom: 200px;
}

.banner {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 0px 0px 200px 0px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  margin-bottom: 158px;
}

nav h3 {
  font-size: 34px;
  font-weight: 900;
}

.banner h1 {
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 37px;
}

/* action section */

.action {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-content h3{
  font-size: 42px;
  font-weight: 800;
  color: #252432;
  margin-bottom: 23px;
}

.action-content p {
  font-size: 24px;
  font-weight: 400;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 23px;
}

.action img {
  border-radius: 48px;
}

/* pductive-user section */

.productive {
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(78, 71, 255, 0.1);
  padding: 50px 80px;
  border-radius: 24px;
}

.productive h2 {
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 40px;
}

.productive-info {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 158px;
}

.productive-column h4 {
  font-size: 80px;
  font-weight: bold;
}

.productive-column small {
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

/* review section */

.review-section {
  max-width: 1140px;
  margin: 0 auto;
}

.review-section h3 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 50px;
}

.reviews {
  display: flex;
  gap: 24px;
}

.review-card {
  padding: 24px;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #F2EDED;
}

.review-card h4 {
  font-size: 24px;
  font-weight: 600;
  color: #1E1E1E;
  margin-bottom: 8px;
}

.review-card p {
  font-size: 16px;
  font-weight: 400;
  color: #1E1E1E;
  margin-bottom: 24px;
}

.reviewer {
  display: flex;
  align-items: start;
  gap: 10px;
}

.reviewer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reviewer p {
  font-size: 16px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 5px;
}

.reviewer span {
  font-size: 16px;
  font-weight: 400;
  color: #B3B3B3;
}

/* get-stared section */

.focus-better {
  max-width: 840px;
  margin: 0 auto;
  text-align: center;
  padding: 71px 150px;
  background-color: #ffffff;
  border-radius: 14px;
}


.focus-better h2 {
  font-size: 50px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.focus-better p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.focus-better div {
  margin-bottom: 20px;
  font-weight: 500;
}

.focus-better img {
  max-width: 840px;
  border-radius: 48px;
}

/* newsletter section */

.newsletter {
  max-width: 1140px;
  margin: 0 auto;
  padding: 71px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsletter h2 {
  font-size: 97px;
  font-weight: bold;
  color: #000;
}

.newsletter label {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}

.newsletter input, .newsletter label, .newsletter textarea {
  display: block;
}

.newsletter input, .newsletter textarea {
  font-size: 20px;
  font-weight: 400;
  padding: 20px 32px;
  width: 497px;
  border: 1px solid #D6DDED;
  border-radius: 10px;
  margin-bottom: 19px;
}

.newsletter button {
  width: 100%;
  padding: 19px 101px;
}

/* footer section */

footer {
  background-color: #fff;
}

.footer-section {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding:103px 0;
}

footer h3 {
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 8px;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  color: #8987A1;
  line-height: 1.5;
  margin-bottom: 20px;
}

.links {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links a {
  text-decoration: none;
  color: #8987A1;
  font-size: 16px;
  font-weight: 400;
}